<h1>My Todo's</h1>
<h6 class="alert alert-success" *ngIf="message">{{message}}</h6>
<div class=container>
<table border="1" class="table">

<thead>
    <tr>
        
        <th>Description</th>
        <th>Target Date</th>
        <th>is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    <!-- for( Todo todo: todos) {-->
    <tr *ngFor="let todo of todos">
        <td>{{todo.description}}</td>
        
        <td>{{todo.targetDate | date | uppercase}}</td>
        <td>{{todo.done}}</td>
        <td><button (click)="updateTodoById(todo.id)" class="btn btn-success">UPDATE</button></td>
        <td><button (click)="deleteTodoById(todo.id)" class="btn btn-warning">DELETE</button></td>
    </tr>
<!-- } -->
</tbody>

</table>
</div>
<div class="container"><button class="btn btn-success" (click)="addTodo()">Add Todo</button></div>